<section class='position-relative custom-video'>
  <video class='position-absolute' autoplay loop playsinline muted>
    <source src='/images/miami-florida-rooftop-to-city-view-2022-08-10-17-21-43-utc.mp4' type='video/mp4' />
  </video>
  <div class="position-relative container text-center" style="top:20em;">
    <h5 class="fs-6 m-5">Lorem ipsum dolor sit amet.</h5>
    <h1 class="fs-1 m-4">Anjhara Limonta</h1>
    <h5 class="fs-5 m-4">Lorem ipsum dolor sit amet.</h5>
    <div class="m-5">
      <a class="btn btn-primary" href="#" role="button">Link</a>
    </div>
  </div>
</section>
