<section class='position-relative custom-video'>
  <video class='position-absolute' autoplay loop playsinline muted>
    <source src='/images/miami-florida-rooftop-to-city-view-2022-08-10-17-21-43-utc.mp4' type='video/mp4' />
  </video>
</section>
